.contact{
   position: relative;
   top:10vh;
   display: flex;
   flex-direction: column;
}

.address{
    display: flex;
    border-radius: 10px;
    box-shadow: .5px .5px 5px  gray;
    justify-content: space-around;
}
.add-content{
    color: white;
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    box-shadow: .3px .3px 3px lightslategray;
}

h3{
    text-transform: uppercase;
}

form{
    display: flex;
    width: 60%;
   border-radius: 20px;
    margin: 20px auto;
    border: 1px solid lightgray;
    justify-content: center;
    height: 50vh;
    align-items: center;
    row-gap: 20px;
    flex-direction: column;
}
input{
    height: 5vh;
    border-radius: 10px;
    transition: all .5s ease;
    font-size: 20px;
    border: 1px solid rgb(154, 152, 152);
    background-color: transparent;
}
textarea{
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid rgb(154, 152, 152);
    background-color: transparent;
}

input::placeholder, textarea::placeholder{
    color:lightgray;
    font-weight: 600;
}
form h2{
    text-shadow: 1px 1px 3px whitesmoke;
    text-transform: uppercase;
}

form button{
    box-shadow: .5px .5px 5px  gray;
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    background-color: transparent;
    transition: all .5s ease-in-out;
    border-radius: 5px;
}

.form button:hover{
    background-color: white;
    cursor: pointer;
    box-shadow: .2px .2px  2px white;
    color: black;
}

@media (max-width:600px) {
    form{
        width: 90%;
    }
    .address{
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
    .add-content{
        width: 90%;
    }
}